{{>navigation-index}}
<h1>Grupo 5</h1>
<img src="https://www.teknouzay.com/wp-content/uploads/2020/01/ospf1-660x330.jpg.webp" alt="logo">
<h2>Aplicación web sobre “Anomalías en una red de datos usando el protocolo OSPF”</h2>
